*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(181,178,178,0.4), rgba(0,8,51,0.9)), url(../../img/EscuelaUHJS.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28, 54, 83, 0.6);
    padding-bottom: 20px;
}

.tablas p.texto{
    color: white;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 115%;
}

.Primero h3{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Primero p.texto{
    color: white;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 115%;
}
.bajar{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.container{
    width: 100%;
    min-height: 50vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(100%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac8ff;
}

.search-bar button i{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}